body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #000000	;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5%;
  justify-content: center;
}

.card {
  background-color:	#3CB371		;
  width: 21%;
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  align-items: center;
  text-align: center;
  font-weight: bold;
  border-radius: 5% 5% 4%;
  padding-top: 2%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  font-family: 'Monospace';
  color: black;
}

.card:hover {
  transform: scale(1.2); 
}

img{
  margin-bottom: 5%;
  border-radius: 5% 5% 4%;
}

a{ 
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 50px;
  color: #1aaf79;
}

footer{
  width: 100%;
  background-color: #1aaf79;
}