body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #000000	;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cima {
  display: flex;
  margin-bottom: 5%;
  justify-content: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5%;
  justify-content: center;
}

.card {
  background-color:	#3CB371		;
  width: 21%;
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  align-items: center;
  text-align: center;
  font-weight: bold;
  border-radius: 5% 5% 4%;
  padding-top: 2%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  font-family: 'Monospace';
  color: black;
  border: 1px solid #ddd;

}

.card:hover {
  transform: scale(1.2); 
  transition: all ease-out 0.25s;
}

img{
  margin-bottom: 5%;
  border-radius: 5% 5% 4%;
}

a{ 
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 50px;
  color: #1aaf79;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.mainmenubtn {
  cursor: pointer;
}
.mainmenubtn:hover {
  transform: scale(1.05);
  transition: all ease-out 0.25s;
  }
.dropdown {
  display: flex;
  justify-content: end;
  width: 95%;
  margin-top: 2%;
}
.dropdown-child {
  display: none;
  min-width: 200px;
  position: fixed;
}
.dropdown-child p {
  text-decoration: none;
  display: block;
  cursor: pointer;
}
.dropdown:hover .dropdown-child {
  display: block;
}


